<!DOCTYPE html><html>
{% load static %}
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>imitation_dota</title><link href="{% static '/static/css/app.2975237457b8a7d6d879699f4ff3e701.css' %}" rel=stylesheet>
</head>

<body>
<div id=app></div><script type=text/javascript src="{% static '/static/js/manifest.2ae2e69a05c33dfc65f8.js' %}">

</script><script type=text/javascript src="{% static '/static/js/vendor.b4092a43337d3660233e.js' %}">

</script><script type=text/javascript src="{% static '/static/js/app.d96bfbbda2fb7f52d14f.js' %}">

</script></body></html>