<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <base href="{% static "./wx_dist/" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>非物质文化遗产继承人</title>
</head>
<body class="bg_body">
    <div class="info" id="app">
        {% verbatim myblock %}
        <p class="teacher_name">{{ name }}</p>
        <!--<div class="video_box">
            <video class="video" preload="metadata" conrtols="true" autoplay="autoplay" src="http://player.youku.com/player.php/sid/14567794/v.swf"></video>
        </div>-->
        <img src="" alt="">
        <p class="teacher_text">{{ text }}</p>
        <p class="works_title">作品展示</p>
        <ul class="works_list">
            <li v-for="work in work_list">
                <img :src=work.workurl alt="">
                <p>《{{ work.workname }}》</p>
            </li>
        </ul>
        {% endverbatim myblock %}
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource-1.50.js"></script>
    <script src='./js/main.js'></script>
    <script>
        var getvalue = fnUrlData();
        var teacher_id = getvalue[0];
        var app = new Vue({
            el:'#app',
            data:{
                name:"",
                video:"",
                text:'',
                works_list:[{'workname':'无题','workurl':'./images/02/work01.jpg'}],

            },
            methods:{

            },
            created:function(){

                //获取老师的详细信息
                this.$http.get('/wx_app/get_teacher_info/?id='+teacher_id, []).then(function (res){
                    var request = res.body[0][0];
                    console.log(request);
                    this.name=request.teacher_name;
                    this.video=request.video_url;
                    this.text=request.teacher_record;
                }, function(res){
                    alert('网络异常，请稍后重试！');
                });


                //获取作品列表
                this.$http.get('/wx_app/get_teacher_info/?id='+teacher_id, []).then(function (res){
                    var request = res.body[0][0];
                }, function(res){
                    alert('网络异常，请稍后重试！');
                });
            }
        })
    </script>
</body>
</html>