<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <base href="{% static "./wx_dist/" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>非物质文化遗产继承人</title>
</head>
<body class="bg_body">
    <div class="info" id="app">
        {% verbatim myblock %}
            <img v-bind:src=imgurl alt="" class="teacher_photo">
            <p class="teacher_name">{{ name+'-'+se_class }}-非遗项目继承人</p>
        <!--<div class="video_box">
            <video class="video" preload="metadata" conrtols="true" autoplay="autoplay" src="http://player.youku.com/player.php/sid/14567794/v.swf"></video>
        </div>-->
        <p class="teacher_text">{{ text }}</p>
        <p class="works_title">作品展示</p>
        <ul class="works_list">
            <li v-for="work in works_list">
                <img :src=work alt="">
                <p>《无题》</p>
            </li>
        </ul>
        {% endverbatim myblock %}
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource-1.50.js"></script>
    <script src='./js/main.js'></script>
    <script>
        var getvalue = fnUrlData();
        var teacher_id = getvalue[0];
        var app = new Vue({
            el:'#app',
            data:{
                name:"wcc",
                video:"",
                text:'',
                works_list:[],
                imgurl:'',
                se_class:'剪纸'

            },
            methods:{

            },
            created:function(){

                //获取老师的详细信息
                this.$http.get('/wx_app/get_teacher_info/?id='+teacher_id, []).then(function (res){
                    console.log(res)
                    var request = res.body[0][0];
                    console.log(request);
                    this.name = request.name;
                    this.video = request.video_url;
                    this.text = request.introduce;
                    this.imgurl = './images/'+request.img_url;
                    this.se_class = request.se_class;
                }, function(res){
                    alert('网络异常，请稍后重试！');
                });


                //获取作品列表
                this.$http.get('/wx_app/get_work_list/?id='+teacher_id, []).then(function (res){
                    var request = res.body;
                    var urlArr = [];
                    for(var w = 0;w<request.work_list.length;w++){
                        urlArr.push('./images/'+request.work_list[w]);
                    }
                    this.works_list = urlArr;
                    console.log(this.works_list)
                }, function(res){
                    alert('网络异常，请稍后重试！');
                });
            }
        })
    </script>
</body>
</html>