<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <base href="{% static "./wx_dist/" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>非物质文化遗产继承人</title>
</head>
<body class="bg_body">
    <div class="info" id="app">
        {% verbatim myblock %}
        <p class="teacher_name">{{ name }}</p>
        <div class="video_box">
            <video class="video" preload="metadata" conrtols="true" autoplay="autoplay" src="http://player.youku.com/player.php/sid/14567794/v.swf"></video>
        </div>
        <p class="teacher_text">{{ text }}</p>
        <p class="works_title">作品展示</p>
        <ul class="works_list">
            <li>
                <img src="./images/kkx.jpeg" alt="">
                <p>《卡卡西》</p>
            </li>
            <li><img src="./images/kkx.jpeg" alt=""><p>《卡卡西》</p></li>
            <li><img src="./images/kkx.jpeg" alt=""><p>《卡卡西》</p></li>
        </ul>
        {% endverbatim myblock %}
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource-1.50.js"></script>
    <script src='./js/main.js'></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                name:"理念元",
                video:"hjasbdhabdhasdasda",
                text:"一个多世纪以来，每年收获季节以后，或遇有重要活动，干旱或流行病发生时，约鲁巴•纳戈族和部分马希族、丰族人都要跳舞或举行传统典礼活动。这种演出以其雕刻面具而别开生面，演员戴着它，唱着约鲁巴语的歌曲，叙述约鲁巴•纳戈民族的历史和传奇神话故事。演出前有大量的工艺准备工作：雕塑面具和制作服装。整个族群分成男女两组，各由一名男女领队负责（由妇女负责面具制作的群体，只此一家）。仪式通常是在半夜开始，舞蹈者在附近房屋做准备，穿上服装后在广场上演出。歌手首先出场，由一位鼓手伴奏，然后是舞蹈演员出场，乐队随行。节目一般是讽刺和嘲弄，特别是借助讽刺面具谴责种种越轨行为。热莱德起源于从母系社会到父系社会的过渡时期，传说用这种舞蹈安抚失落的母亲们，并向始祖母依亚•尼亚和祖先的神灵表示敬意。动物的形象常被采用，诸如蛇——权力的象征，鸟——“母亲们”的使者。",
                works_list:[],

            },
            methods:{

            },
            created:function(){
                this.$http.get('/wx_app/get_teacher_info/?teacher_id=1', []).then(function (res) {
                    var request = res.body[0][0];
                    console.log(request);

                            this.name=request.teacher_name;
                            this.video=request.video_url;
                            this.text=request.teacher_record;


                }, function(res){
                    console.log(res);

                });
            }
        })
    </script>
</body>
</html>