<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <base href="{% static "./wx_dist/" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>非物质文化遗产</title>
</head>
<body class="bg_body">
    <div id="app">
        {% verbatim myblock %}
        <div class="type_box" v-for="(datas,index) in data_list">
            <p class="type_box_msg">
                <span class="type_box_text">{{datas[0].fi_class}}</span>
                <span class="type_box_more" v-on:click="jump(datas[0].fi_class)">更多</span>
            </p>
            <ul class="type_box_list" >
                <li is="teaThu" v-bind="dat" v-for="dat in datas"></li>
            </ul>
        </div>
        {% endverbatim myblock %}
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource-1.50.js"></script>
    <script src='./js/main.js'></script>
    <script>


        var app = new Vue({
            el:'#app',
            components:{
                'teaThu':typeListchild
            },
            data:{
                name:'川川',
                data_list: []

            },
            methods:{
                jump:function(e){
                    console.log(e);
                }
            },
            created:function(){
                console.log(this.name);
                this.$http.get('/wx_app/get_type_list/', []).then(function (res) {
                        console.log(res.body);
                        var resquest = res.body
                        var arr = [];
                        for(var x in resquest){
                            if(x != 'type_list'){
                                arr.push(resquest[x])
                            }
                        }
                        console.log(arr);

                    this.data_list = arr
                    },
                    function(res){
                        console.log(res);
                    });
                }
            })

    </script>
</body>
</html>
